.v-enter-active,
.v-leave-active {
  transition: opacity 0.7s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

button {
  background: transparent;
  color: #fff;
  border: none;
  margin: 0 10px;

  &:hover {
    font-weight: bold;
  }
}
